@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  @apply max-w-full h-auto bg-slate-300;
}

/*
 * cool-kids-slider.css
 This css handles css for the cool-kids-slider element
*/
.js-slider-items.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.js-slider-items {
  @apply relative transition-transform duration-[1000ms] delay-200;
}

@layer base {
  html {
    font-family: 'Raleway', sans-serif;
  }

  body {
    background: rgb(245, 235, 223);
    /* background: linear-gradient(90deg, rgba(136,212,255,1) 0%, rgba(203,223,238,1) 52%, rgba(255,255,255,1) 100%);  */
    background: radial-gradient(at 44% 0%, rgba(255, 184, 122, .4) 0px, transparent 50%),
      radial-gradient(at 80% 0%, rgba(31, 221, 255, .1) 0px, transparent 50%),
      radial-gradient(at 80% 50%, rgba(255, 133, 173, .1) 0px, transparent 50%),
      radial-gradient(at 0% 100%, rgba(255, 181, 138, 0) 0px, transparent 50%),
      radial-gradient(at 80% 100%, rgba(107, 102, 255, 0) 0px, transparent 50%),
      radial-gradient(at 0% 0%, rgba(255, 133, 167, .25) 0px, transparent 50%);
    backdrop-filter: blur(10px);

  }

  .navheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .navheader>.namebrand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-out;
  }
  .navheader>.namebrand:hover {
    transform: skewX(-10deg);
    font-weight: 500;
  }

  .navheader>.namebrand>.name {
    height: 100%;
    font-weight: 500;
    font-size: 0.8em;
    visibility: hidden;
    padding: 0 0 0 10px;
    transform: translateX(-25px);
  }
  .navheader>.namebrand:hover>.name {
    transform: translateX(0);
    visibility: visible;
    transition: transform 0.2s ease-out;
  }
}